:root, [data-theme="dark"]{
    --bg-color: rgb(31, 31, 31);
    --text-color: rgb(224, 224, 224);
    --text-reverse: rgb(28, 28, 28);
    --cursor-color: rgb(238, 238, 238);
    --bg-reverse: rgb(237, 237, 237);
}
[data-theme="light"]{
    --bg-color: rgb(237, 237, 237);
    --text-color: rgb(28, 28, 28);
    --text-reverse: rgb(224, 224, 224);
    --cursor-color: rgb(17, 17, 17);
    --bg-reverse: rgb(31, 31, 31);
}
@font-face{
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Regular.woff) format('.woff');
    font-weight: 400;
    font-style: normal;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif; 
}
html,body{
    transition: .7s ease;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
polygon{fill: var(--cursor-color);}
footer{
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    text-align: center;
}
.icon{
    width: 25px;
    height: 25px;
}
#themeSwitch{
    display: inline;
    background: none;
    border: none;
    padding: 4px;
    border-radius: 50%;
    transition: .3s ease-out;
}
#themeSwitch:hover {
    animation: theme-pulse 2s infinite ease-in-out;
}
@keyframes theme-pulse {
    0% {background: none;}
    33% {background: var(--bg-reverse);}
    66% {background: var(--bg-reverse);}
    100% {background: none;}
}
img[data-icon="themeIcon"]{
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
img[data-icon="themeIcon"]:hover{
    animation: inverse-pulse 2s infinite ease-in-out;
}
@keyframes inverse-pulse {
    0% {filter: invert(0%);}
    33% {filter: invert(100%);}
    66% {filter: invert(100%);}
    100% {filter: invert(0%)};
}
#languageSwitch{
    background: none;
    border: none;
    color: var(--text-color);
}
#languageSwitch:hover{
    background: var(--bg-reverse);
    color: var(--bg-color);
}
header{
    display: flex;
    width: 300px;
    height: 90vh;
    margin: auto 20px auto 20px;
    border: 2px solid transparent;
    background: rgba(59, 59, 59, 0.5);
    transition: .3s;
    flex-flow: column;
    align-items: center;
}
header:hover{border: 2px solid var(--bg-reverse);}
.profilePic{
    display: flex;
    width: 100px;
    height: 100px;
    transition: .3s ease;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--bg-reverse);
    border-radius: 50%;
    overflow: hidden;
}
.profilePic > img{
    width: 120px;
    height: 120px;
    transition: .7s ease;
}
.profilePic:hover img{
    transform: scale(1.1);
}
[data-effect="marquee"]{
    background: var(--bg-reverse);
    color: var(--text-reverse);
    white-space: nowrap;
    width: 100%;
    height: 30px;
    overflow: hidden;
    display: flex;
}
[data-effect="typewriter"]{
    display: flex;
    justify-content: center;
}
[data-lang="role"]{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    border-right: 1px solid cyan;
    animation: type-keep 3s steps(22,end), cursor-blink .75s infinite;
}
@keyframes type-erase{from,to{width:0%}33%{width: 100%;}66%{width: 100%;}}
@keyframes type-keep{to{width:100%;}}
@keyframes cursor-blink{from,to{border-color:transparent}50%{border-color: cyan;}}
[data-effect="marquee"]> div{
    height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: stripe-loop 10s linear infinite;
    user-select: none;
}
[data-effect="marquee"]:hover > div{animation-play-state: paused;}
@keyframes stripe-loop{to {transform: translateX(-100%)}}
[data-effect="marquee"] > div > span::after {
    content: ' ⬪ ';
    padding-left: 25%;
}
div[data-effect="marquee"]{
    margin-top: auto;
    margin-bottom: 30px;
}
span[data-lang="motto"]{
    font-style: italic;
}
img[data-icon="logomark"]{
    width: 50px;
    height: 50px;
}
nav{
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(112, 112, 112, .50);
    width: 400px;
    display: flex;
    border-radius: 3px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
nav > a{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transition: .5 ease;
}
nav>a:hover{
    text-decoration:line-through;
}
aside{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(68, 68, 68);
    width: 70px;
    height: 100px;

}
aside>button{margin: 10px;}
main{
    display: flex;
    position: relative;
    flex-flow: row wrap;
    width: 100%;
    height: 500px;
    background: rgba(34, 34, 34, 0.5);
    overflow-y: scroll;
}
#cursor{
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
    background: none;
    pointer-events: none;
    transform: translate(50%, 50%);
    z-index: 9999;
}
.cir{
    background:lightblue;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
[data-effect="circularProgress"]{
    animation: progress 1s linear forwards;
}
@keyframes progress{
    to{
        stroke-dashoffset: 0;
    }
}
