*{transition: .1s ease;}
:root{
    --granite: url('assets/texture.png');
    --m-x: 0;
    --m-y:0;
}
:root, [data-theme="dark"]{
    --bg-color: rgb(31, 31, 31);
    --bg-rgb: 31,31,31;
    --decoration: rgb(180, 254, 255);
    --dec-rgb: 180, 254, 255;
    --text-color: rgb(224, 224, 224);
    --text-reverse: rgb(28, 28, 28);
    --cursor-color: rgb(180, 254, 255);
    --bg-reverse: rgb(237, 237, 237);
    --glass: linear-gradient(135deg, #ffffff4d 0%, #7878784d 42%, #3232324d 100%);
}
[data-theme="light"]{
    --bg-color: rgb(237, 237, 237);
    --bg-rgb: 237,237,237;
    --decoration: rgb(49, 129, 131);
    --text-color: rgb(53, 44, 44);
    --text-reverse: rgb(224, 224, 224);
    --cursor-color: rgb(49, 129, 131);
    --bg-reverse: rgb(31, 31, 31);
}
body,menu,#languageSwitch:hover{
    background: var(--bg-color);
}
#languageSwitch:hover{
    background: var(--bg-reverse);
}
body,a,sup,dialog{
    color: var(--text-color);
}
mark{color: var(--text-reverse);}
mark{background: var(--decoration);}
body{
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}
a{text-decoration: none;}
polygon{fill:var(--cursor-color);}
.icon{width: 25px;height: 25px;}
#themeSwitch{
    border: none;
    border-radius: 10px;
    &:hover {
    animation: theme-pulse 2s infinite ease-in-out;
    }
}
@keyframes theme-pulse {
    0% {background: none;}
    33% {background: var(--bg-reverse);}
    66% {background: var(--bg-reverse);}
    100% {background: none;}
}
#switch{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    &:hover{animation: inverse-pulse 2s infinite ease-in-out;}
}
@keyframes inverse-pulse {
    0% {filter: invert(0%);}
    33% {filter: invert(100%);}
    66% {filter: invert(100%);}
    100% {filter: invert(0%)};
}
#languageSwitch{
    border: none;
    color: var(--text-color);
    &:hover{
        background-color: var(--bg-reverse);
        color: var(--bg-color);
    }
}
header{
    display: flex;
    min-width: 50px;
    max-width: 80vw;
    margin: 20px 50px;
    border-radius: 5px;
    border: 1px solid rgb(222 200 200 / 10%);
    background: var(--glass);
    flex-flow: column;
    align-items: center;
    padding: 10px;
}
#profilePicture{
    position: absolute;
    left: 0;
    top: 50%;
    background: rgb(59, 59, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
#profilePicture>*{
    position: absolute;
    width: 90px;
    height: 90px;
    transition: .4s ease;
}
#profilePicture>img:nth-child(1){
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
header:hover>#profilePicture>img:nth-child(1){transform:scale(1.1);}
header:hover> [data-effect="marquee"]>div{animation-play-state:paused;}
#profilePicture>img:nth-child(2){rotate: 45deg;}
header:hover #profilePicture>img:nth-child(2){rotate: 225deg;}
code{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin: 5px;
    max-width: fit-content;
    border-right: 1px solid cyan;
    animation: type-keep 4s steps(26,end), cursor-blink 1s infinite;
}
@keyframes type-keep{from{width: 0;}to{width:100%;}}
@keyframes cursor-blink{
    from,to{border-color:transparent}
    50%{border-color: cyan;}
}

[data-effect="marquee"]{
    margin: 0 -10px 0 -10px;
    background: var(--bg-reverse);
    color: var(--text-reverse);
    white-space: nowrap;
    display: flex;
    flex-flow: row nowrap;
    max-width: 300px;
    height: 25px;
    overflow: hidden;
}
[data-effect="marquee"] > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-width: max-content;
    animation: stripe-loop 10s linear infinite;
    user-select: none;
}

@keyframes stripe-loop{to{transform:translateX(-100%)}}
[data-effect="marquee"]>div>span::after{content:' ⬪ ';margin: 0 10px;}

sup{
    background: var(--decoration);
    border-radius: 50%;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    font-weight: bold;
    padding: 1px 5px;
    font-size: .6em;
    margin: 0 -3px;
}
sup::after{
    content:'i';
}
[data-icon="logomark"]{
    width: 50px;
    height: 50px;
}
aside{
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-50%);
    background: var(--glass);
    border: 1px solid rgb(222 200 200 / 10%);
    border-radius: 3px;
    min-width: fit-content;
    height: 50px;
    width: fit-content;
    padding: 0 10px;
}
aside>button{margin: 10px;}
main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(35, 35, 35, 0);
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: center;
    background: rgba(112,112,112,.5);
    border-radius: 3px;
    height: 50px;
    z-index: 1;
}
nav > a{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 4px;
    width: 120px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 20px;
}
nav>a:hover{
    text-decoration:line-through;
}
section{
    margin: 20px;
    background: rgba(81, 81, 81,.5);
    overflow-y: auto;
    min-height: 300px;
    border-radius: 5px;
}
.shimmer{
    position: relative;
}
.shimmer::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--granite) rgb(var(--dec-rgb),.1);
    background-size: 100px,100%;
    background-blend-mode: screen;
    mask-image: radial-gradient(200px circle at var(--m-x) var(--m-y), var(--decoration), transparent 70%);
    opacity: 0;
    transition: opacity .5s ease;
}
.shimmer:hover::before{
    opacity: .5;
}
#projects{
    margin-top: 100px;
}
article{
    position: relative;
}
.readingProgress{
    position: sticky;
    top: 0;
    left: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.readingProgress > circle{
    fill: transparent;
    stroke: white;
    stroke-width: 1;
}
[data-effect="circularProgress"]{
    animation: progress 3s linear forwards;
}
@keyframes progress{
    to{
        stroke-dashoffset: 0;
    }
}
footer{
    position: absolute;
    bottom: 0;
    display: flex;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
}
footer>a{
    display: flex;
    align-items: center;
    margin: 5px;
}
menu{
    border: 1px solid var(--text-color);
    padding: 20px;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    width: fit-content;
    overflow-y: scroll;
    height: 200px;
    scrollbar-color: var(--decoration);
}
li{
    list-style: none;
}
mark{
    padding: 0px 2px;
}
#tooltip{
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    padding: 10px;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(var(--bg-rgb),.5);
    border: 1px solid var(--decoration);
    border-radius: 5px;
}
#cursor{
    position: absolute;
    width: 25px;
    height: 25px;
    pointer-events: none;
    transform: translate(50%, 50%);
    z-index: 9999;
    transition: none;
}
menu,#tooltip,#cursor{
    display: none;
}
button,#cursor{
    background: none;
}
#glow{
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: var(--bg-reverse);
    filter: blur(20px);
    opacity: .7;
    transition: none;
    pointer-events: none;
}