:root{
    font-family: 'Roboto', sans-serif;
    --granite: url('assets/texture.png');
    --m-x: 0;--m-y:0;
    --lang: url('assets/icons/pt.svg');--lang-alt: url('assets/icons/en.svg');
}
[data-theme="dark"]{
    --bg-color: rgb(31, 31, 31);
    --bg-rgb: 31,31,31;
    --decoration: rgb(180, 254, 255);
    --dec-rgb: 180, 254, 255;
    --text-color: rgb(224, 224, 224);
    --text-reverse: rgb(28, 28, 28);
    --bg-reverse: rgb(237, 237, 237);
    --glass: linear-gradient(135deg, #ffffff4d 0%, #7878784d 42%, #3232324d 100%);
}
[data-theme="light"]{
    --bg-color: rgb(237, 237, 237);
    --bg-rgb: 237,237,237;
    --decoration: rgb(49, 129, 131);
    --text-color: rgb(53, 44, 44);
    --text-reverse: rgb(224, 224, 224);
    --bg-reverse: rgb(31, 31, 31);
}
body,a,sup{color: var(--text-color)}
button{background: none}
mark{
    color: var(--text-reverse);
    padding: 0px 2px;
    background: var(--decoration);
}
body{
    background: var(--bg-color);
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}
a{text-decoration: none;}
.icon{width: 25px;height: 25px}
#themeSwitch{
    border: none;
    border-radius: 10px;
    &:hover {animation: theme-pulse 2s infinite ease-in-out}
    & img{
        width: 32px;
        height: 32px;
        vertical-align: middle;
        &:hover{animation: inverse-pulse 2s infinite ease-in-out}
    }
}
@keyframes theme-pulse {
    0% {background: none;}
    33% {background: var(--bg-reverse)}
    66% {background: var(--bg-reverse)}
    100% {background: none}
}
@keyframes inverse-pulse {
    0% {filter: invert(0%)}
    33% {filter: invert(100%)}
    66% {filter: invert(100%)}
    100% {filter: invert(0%)}
}
#languageSwitch{
    position: relative;
    border: none;
    width: 40px;
    height: 30px;
    color: var(--text-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{color:transparent}
    &:hover::after{opacity: 1}
    &:hover>kbd::before{opacity: 1;transform: rotate(180deg)}
    &::before,&::after{
        border-radius: 5px;
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        filter: brightness(0.6);
    }
    &::before{background: var(--lang) no-repeat center/cover}
    &::after{
        background: var(--lang-alt) no-repeat center/cover;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        opacity: 0;
    }
}
kbd{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        inset: (0);
        opacity: 0;
        background: url('assets/icons/change.svg') no-repeat center/cover;
        transition: .4s ease;
    }
}
header{
    display: flex;
    min-width: 50px;
    max-width: 80vw;
    margin: 20px 50px;
    border-radius: 5px;
    border: 1px solid rgb(222 200 200 / 10%);
    background: var(--glass);
    flex-flow: column;
    align-items: center;
    padding: 10px;
}
#profilePicture{
    position: absolute;
    left: 0;
    top: 50%;
    background: rgb(59, 59, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    & *{
        position: absolute;
        width: 90px;
        height: 90px;
        transition: .4s ease;
    }
    & img:first-child{
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
}
header:hover>#profilePicture>img:first-child{transform:scale(1.1);}
header:hover> [data-effect="marquee"]>div{animation-play-state:paused;}
#profilePicture>img:nth-child(2){rotate: 45deg;}
header:hover #profilePicture>img:nth-child(2){rotate: 225deg;}
code{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin: 5px;
    max-width: fit-content;
    border-right: 1px solid cyan;
    animation: type-keep 4s steps(26,end), cursor-blink 1s infinite;
}
@keyframes type-keep{from{width:0}to{width:100%}}
@keyframes cursor-blink{
    from,to{border-color:transparent}
    50%{border-color: cyan}
}
[data-effect="marquee"]{
    margin: 0 -10px 0 -10px;
    background: var(--bg-reverse);
    color: var(--text-reverse);
    white-space: nowrap;
    display: flex;
    flex-flow: row nowrap;
    max-width: 300px;
    height: 25px;
    overflow: hidden;
    &>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-width: max-content;
    animation: stripe-loop 10s linear infinite;
    user-select: none;
    }
}
@keyframes stripe-loop{to{transform:translateX(-100%)}}
[data-effect="marquee"]>div>span::after{content:' ⬪ ';margin: 0 10px}
sup{
    background: var(--decoration);
    border-radius: 50%;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    font-weight: bold;
    padding: 1px 5px;
    font-size: .5em;
    margin: 0 -3px;
    &::after{content:'i';}
}
[data-icon="logomark"]{
    width: 36px;
    height: 36px;
}
aside{
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-50%);
    background: var(--glass);
    border: 1px solid rgb(222 200 200 / 10%);
    border-radius: 3px;
    min-width: fit-content;
    height: 50px;
    width: fit-content;
    padding: 0 10px;
    & button{margin:5px}
}
main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(35, 35, 35, 0);
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: center;
    background: rgba(112,112,112,.5);
    border-radius: 3px;
    height: 50px;
    z-index: 1;
    & a{
        border: 1px solid rgb(var(--dec-rgb),.2);
        padding: 5px;
        border-radius: 4px;
        width: 120px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        margin: 0 20px;
        overflow: hidden;
        &:hover{border: 1px solid var(--decoration);background: var(--bg-color);}
        &:hover>span{transform: translateY(-20px);}
        &:hover>:first-child{opacity: 0;}
        &:hover>:last-child{opacity: 1;}
        & span{
            display: block;
            min-height: 20px;
            transition:.6s cubic-bezier(.8,0,.2,1);
            &:first-child{color: var(--bg-reverse);}
            &:last-child{color: var(--decoration);opacity: 0;}
        }
    }
}
section{
    margin: 20px;
    background: rgba(81, 81, 81,.5);
    overflow-y: auto;
    min-height: 300px;
    border-radius: 5px;
}
.shimmer{
    position: relative;
}
.shimmer::before{
    pointer-events: none;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--granite) rgb(var(--dec-rgb),.1);
    background-size: 100px,100%;
    background-blend-mode: screen;
    mask-image: radial-gradient(200px circle at var(--m-x) var(--m-y), var(--decoration), transparent 70%);
    opacity: 0;
    transition: opacity .5s ease;
}
.shimmer:hover::before{opacity: .5}
section{margin-top: 100px}
article{position: relative}
footer{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    & a{
        display: flex;
        align-items: center;
        margin: 5px;
        & img{margin-left: 5px;}
    }
}
.btnHighlight{
    position: relative;
    background: var(--bg-reverse);
    color: var(--text-reverse);
    min-width: fit-content;
    height: 20px;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 5px;
    &:hover{
        &::after{height: 30px;left: 20%;}
        &::before {height: 30px;right: 20%;}
    }
    & img{width: 20px;}
    &::after{background:#FFF4B5;left: 0;}
    &::before{background:#7bcfff;right: 0;}
    &::after,&::before {
        position: absolute;
        content: '';
        width: 50%;
        height: 25px;
        filter: blur(10px);
        z-index: -1;
        transition: 0.4s ease;
    }
}
#tooltip{
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    padding: 10px;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(var(--bg-rgb),.5);
    border: 1px solid var(--decoration);
    border-radius: 5px;
}
