body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
    scroll-behavior: smooth;
    background: var(--wallpaper) no-repeat center/cover fixed;
    user-select: none;
}
