#themeSwitch{
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;
    display: inline;
}
#themeSwitch > img{
    width: 30px;
}

#languageSwitch{
    background: none;
    border: none;
    color: var(--text-color);
}
